.h2 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.white {
  color: #fff;
}

.light_gray {
  color: rgba(236, 243, 255, 0.75);
}

.gray {
  color: rgba(236, 243, 255, 0.5);
}

.dark_gray {
  color: rgba(236, 243, 255, 0.25);
}
