@import "index";

.item {
  @include flex-space-between;
  gap: 12px;
  border-radius: 8px;
  padding: 6px 10px;
  transition: background-color 0.15s, border 0.15s;
  border: 1px solid transparent;

  svg {
    path {
      transition: fill 0.15s, fill-opacity 0.15s;
    }
  }

  .item__info {
    @include flex-center(12px);

    .info__text {
      color: var(--secondary-50, rgba(236, 243, 255, 0.5));
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
    }
  }

  &:hover,
  &:active {
    cursor: pointer;
    border: 1px solid rgba(236, 243, 255, 0.02);
    background: rgba(236, 243, 255, 0.02);

    .item__info {
      .info__text {
        color: white;
      }
    }

    svg {
      path {
        fill: white;
        fill-opacity: 1;
      }
    }
  }
}

.selected {
  border: 1px solid rgba(236, 243, 255, 0.02);
  background: rgba(236, 243, 255, 0.02);
}
