.ol {
  .li {
    color: var(--secondary-50, rgba(236, 243, 255, 0.5));
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}
